<h1>User info</h1>
<table class="table">
  <tr><%= image_tag user.get_profile_image(100,100) %></tr>
  <tr>
    <th>name</th>
    <th><%= user.name %></th>
  </tr>
  <tr>
    <th>introduction</th>
    <th><%= user.introduction %></th>
  </tr>
</table>
<div class="row">
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
    <i class=class="fas fa-user-cog"></i>
  <% end %>
</div>

<!--新規投稿-->
<h1>New Book</h1>
  <%= form_with model: Book.new do |f| %>
    <p>Title</p>
      <%= form.text_area :title %>
    <p>Opinion</p>
      <%= form.text_field :body %>
    <%= f.submit class: 'btn btn-success' %>
  <% end %>


