<div class="container　px-5 px-sm-0">
  <div class='row'>
<!--エラー画面-->
  <%= render "layouts/errors", obj: @book %>
<!--左テンプレート-->
    <div class='col-md-3'>
      <%= render "user_info", user: current_user %>
    </div>
<!--サーバ内全投稿一覧-->
    <div class='col-md-8 offset-md-1'>
      <h1>Books</h1>
      <% @books.each do |book| %>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th>
              <%= link_to user_path(book.user) do %>
                <%= image_tag book.user.get_profile_image(80,80) %>
              <% end %>
            </th>
            <th><%= link_to book.title, book_path(book) %></th>
            <th><%= book.body %></th>
          </tr>
        </tbody>
      </table>
      <% end %>
    </div>
  </div>
</div>
