<div class="container　px-5 px-sm-0">
  <div class='row'>
<!--左テンプレート-->
    <div class='col-md-3'>
      <%= render "users/user_info", user: @book.user %>
    </div>
<!--投稿一覧-->
    <div class='col-md-8 offset-md-1'>
     <h1>Book detail</h1>
     <table class='table'>
  		  <tr>
          <td><%= link_to(@book.user) do %>
            <%= image_tag @book.user.get_profile_image(100,100) %><br>
            <%= @book.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book.title, book_path(@book) %></td>
          <td><%= @book.body %></td>
          <% if @book.user == current_user %>
            <td><%= link_to "Edit", edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to "Destroy", @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger" %></td>
          <% end %>
        </tr>
      </table>
    </div>
  </div>
</div>